peerplays
bos-sync
pyyaml
jsonschema
colorlog
strict_rfc3339
ecdsa>=0.14 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.25.9 # not directly required, pinned by Snyk to avoid a vulnerability
